#stitchPane {
    position:absolute;
    border-radius: 20px 20px  0 0;
    border:solid black 1px;
    top:100px;
    right: 0px;
    margin:10px;
    background: white;
    display: none;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 10px 1px #3f3f3f;
    z-index: 5000;
}

.flickr-dialog-container {
    display:none;
}

